.button {
    width: 100px;
    margin-top: 15px;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: dodgerblue;
    cursor: pointer;
    border: 1px solid black;
    color: #ffffff;
    font-weight: 600;
}

.input {
    /* padding: 5px 0px; */
    margin: 5px 0px;
    border-radius: 5px;
    width: 200px;
    outline: none;
    border: none;
}

.input_img {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}

.input_without_img {
    border: 1px solid black;
}

.input_with_img_container {
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    background-color: #fff
}

.content_block {
    padding: 10px;
    border-radius: 8px;
    border: 0.5px solid rgba(230, 219, 219, 0.397);
    margin-top: 15px;
}