* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 42px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid black;
}

.profile_menu {
    width: calc(40% - 10px);
    border: 1px solid black;
    max-width: 300px;
}

.profile_feed {
    width: calc(60% - 10px);
    border: 1px solid black;
    padding: 3px;
}

#make_new_post {
}

.profile_flex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#user_info {
    border: 1px solid black;
}

#name {
    font-size: 20px;
}

.color_of_user_info_label {
    color: #828282;
}

#profile_photo {
    width: 100%;
    border-radius: 50%;
}

.photo_avatar_small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: top;
}

#container_text_of_post {
    margin-top: 5px;
    width: calc(100% - 35px);
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

#text_of_post {
    outline: none;
}

#placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: #5e5b5b;
    z-index: -1;
}
#load_content{
    font-size: 0;
}
.load_content_button{
height: 20px;
width: 20px;
display: inline-block;
margin:5px 5px 0px 5px;
}
#input_load_img{
    display: none;
}
.load_content_button>label{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.load_icon{
    width: 100%;
    height: 100%;
    cursor: pointer;
}


@media screen and (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .profile_menu{
        width: 100%;
        max-width: 100%;
    }
    #profile_photo {
        width: 50%;
    }
    .profile_feed {
        width: 100%
    }
}


@media screen and (min-width:700px) {
    .profile_menu {
        width: 268px;
    }
   
    .profile_feed {
        width: calc(100% - 288px);
    }
}