* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

.img_logo_cintainer {
    height: 25vh;
}

.img_logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.form_registration_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.registration_form {
    width: 200px;
}

.registration_input {
    border: 1px solid black;
    padding: 5px 0px;
    margin: 5px 0px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    
}

.submit_button {
    width: 100%;
    margin-top: 15px;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: dodgerblue;
    cursor: pointer;
    border: 1px solid black;
    color: #ffffff;
    font-weight: 600;
}

.file_input {
    display: none;
}

.upload_button {
    text-align: center;
    height: 30px;
    display: block;
    margin: 5px 5px 0px 5px;
    cursor: pointer;
}

.upload_icon {
    width: 30px;
    height: 30px;
}